header {
  height: 100vh;
  background-image: url("../assets/images/Arch2O-the-beautiful-wonders-of-persian-architecture-from-5-cities-in-iran-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main {
  margin-top: 3rem;
  padding: 2rem;
}
.cart-sec {
  padding: 2rem;
  display: flex;
  margin: 4rem 0;
  flex-direction: row;
  overflow-x: scroll;
  border: 0.3rem solid rgba(238, 221, 204, 1);
  border-radius: 10rem 10rem 0 0;
}
.cart-k {
  height: 23rem;
  width: 15rem;
  margin: 1rem 2rem;
  line-height: normal;
  border-radius: 10rem 10rem 0 0;
  background-color: rgba(238, 221, 204, 1);
}
.cart-image {
  width: 100%;
  height: 20rem;
  border: 0.5rem solid rgba(238, 221, 204, 1);
  border-radius: 10rem 10rem 0 0;
  transition: all 0.5s ease;
}
.cart-title {
  height: 3rem;
  padding: 1rem;
}
.cart-title>h3{
  font-size:1.3rem;
  text-align: center;
}
.carpet-info-div {
  height: 3rem;
  padding: 0 1rem;
  margin-top: -4rem;
}
.carpet-info{
  font-weight:bolder;
  font-size: 1.2rem;
  display: none;
}
.buy{
  height: 2.3rem;
  border-radius: 3rem;
  margin-right: 1rem;
  padding: 0.2rem;
  background-color: #cc3333;
  z-index: 1;

}
label {
  margin-top: 5rem;
  margin-left: 5rem;
  color: rgba(238, 221, 204, 1);
}
.collection-sec {
  margin: 3rem 0;
  padding: 4rem 1rem;
}
.collection-sec > h2 {
  color: rgba(238, 221, 204, 1);
  font-size: 3rem;
  margin-bottom: 5rem;
}
.collection-cart {
  height: 25rem;
  width: 16.5rem;
  background-color: rgba(238, 221, 204, 1);
  padding: 0.5rem;
  margin: 3rem 1.5rem 1rem 1.5rem;
  border-radius: 10rem 10rem 0 0;
  transform: scale(1);
  transition: all 0.6s ease;
}
.collection-cart:hover{
  transform: scale(1.06);
}
.col-cart-im {
  width: 100%;
  height: 90%;
  border-radius: 10rem 10rem 0 0;
}
.col-title {
  text-align: center;
}
.ad-sec {
  height: fit-content;
  padding: 3rem 1rem;
  background-color: rgba(238, 221, 204, 0.8);
  border-radius: 5rem;
  align-self: center;
}
.carpet-img {
  height: auto;
  width: 100%;
}
.info-sec {
  padding: 1rem;
  color: rgba(238, 221, 204, 1);
}
