@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #cc3333;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #000;
  font-weight: bolder;
}
.responsive {
  width: 100%;
  height: auto;
}

.main-label {
  margin: 0.5rem 0 0.5rem 1rem;
  color: #cc3333;
}
nav {
  height:4rem;
  width: 90%;
  background-color: rgb(238, 221, 204);
  position: fixed;
  margin: 2rem 5% 0 5%;
  border-radius: 4rem;
  z-index: 2;
}
.nav-bar {
  list-style: none;
  padding: 1rem 0;
}
.nav-bar > li {
  width: 25%;
  text-align: center;
  transform: scale(1.2);
}

.nav-menu{
  background-color: rgba(238, 221, 204, 0.9);
  box-shadow: 0 1rem 1rem 1rem rgba(0,0,0,0.5);
  width: fit-content;
  padding: 1.5rem;
  display: none;
  list-style: none;
  border-radius: 0 0 7rem 7rem;
  margin: auto;
  transition: all 2s ;
}
.nav-menu>li{
  padding: 0.5rem 1rem;
  border-top: #cc3333 groove 0.5px;
}
#login-icon , #menu-icon , #buy-icon{
  height: 2rem;
}
#products-num{
  margin-right: -2.85rem;
  margin-top: 0.5rem;
  background-color: #cc3333;
  border-radius: 2rem 2rem 0 0;
  text-align: center;
  width: 1.3rem;
  height: 1.5rem;
  color: white;
  font-size:14px;
}
#mobile-nav{
  background-color: rgba(238, 221, 204, 1);
  height: 100%;
  width: fit-content;
  padding: 2rem;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 1s ease;
  display: none;
}
#mobile-nav>ul>li{
  padding: 1rem;
  border-bottom: #cc3333 groove 0.5px;
  list-style: none;

}
.mobile-nav-menu{
  display: none;
}
.mobile-nav-menu>li{
  padding: 1rem;
  border-top: #cc3333 groove 0.5px;
  list-style: none;
}


footer{
    height: 5rem;
    margin: 1rem 5%;
    background-color: rgb(238, 221, 204) ;
    border-radius: 10rem;
}
.sos-media>a>img{
  height: 2rem;
}


        
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #cc3333;
}




@media screen and (max-width: 500px) {
  header {
    background-image: url("../assets/images/121664.jpg");
  }
  .main-label {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 990px) {
  #products-num{
    margin-right: -2rem;
    margin-top: -0.5rem;
  }
  .main-label {
    font-size:1.3rem;
  } 

}